<?xml version="1.0" encoding="utf-8"?>
<AppInstaller
  xmlns="http://schemas.microsoft.com/appx/appinstaller/2017/2"
  Version="@@VERSION@@"
  Uri="@@BASE_URL@@/ZiggyStarClaw.appinstaller">

  <MainPackage
    Name="@@PACKAGE_NAME@@"
    Publisher="@@PUBLISHER@@"
    Version="@@VERSION@@"
    Uri="@@BASE_URL@@/@@MSIX_NAME@@" />

  <UpdateSettings>
    <OnLaunch HoursBetweenUpdateChecks="12" />
  </UpdateSettings>
</AppInstaller>
